{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="profile-info">
        <h2>Привет, {{ username }}!</h2>
        <p>Твои токены:</p>
        <ul>
            <li>NOT: {{ not_tokens }}</li>
            <li>BONES: {{ bones }}</li>
        </ul>
    </div>

    <div class="actions">
        <button onclick="window.location.href='{{ url_for('referrals') }}'">Мои рефералы</button>
        <button onclick="window.location.href='{{ url_for('game') }}'">Играть</button>
    </div>
{% endblock %}
