{% extends "base.html" %} {% block title %}Главная{% endblock %} {% block
content %}
<div class="container">
  <h2 style="text-align: center">Добро пожаловать, {{ username }}!</h2>

  <!-- Кнопка перехода на страницу игры -->
  <div class="base_button_wrapper">
    <a href="{{ url_for('game') }}" class="btn btn-lg btn-primary">Играть</a>
    <button class="btn btn-primary btn-lg button_vote" onclick="voteForCard()">
      Пополнить кошелек
    </button>
  </div>

  <!-- Одинаковый стиль с кнопкой "Проголосовать" -->
</div>
{% endblock %}
