<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lost Dogs: The Way{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="app-header">
        <h1 class="app-title">Lost Dogs: The Way</h1>

        <!-- Разметка профиля в хедере, выравнивание по правой стороне -->
        <div class="account-header">
            <div class="profile-picture">
                <img src="{{ url_for('static', filename='images/profile_pic.png') }}" alt="Profile Picture">
            </div>
            <div class="account-info">
                <h1>{{ username }}</h1> <!-- Имя пользователя из базы данных -->
                <div class="line"></div>
                <div class="account-stats">
                    <div class="value-stats">
                        <span class="value">{{ not_tokens }}</span>
                        <span class="icon">⚠️</span>
                    </div>
                    <div class="value-stats">
                        <span class="value">{{ bones }}</span>
                        <span>BONES</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
