<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lost Dogs: The Way{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header_first_row">
          <a href="" class="header_close_button">Закрыть</a>
          <div class="header_naming">
            <h1>Ваше название здесь</h1>
            <p>описание приложения здесь</p>
          </div>
        </div>
        <div class="header_second_row">
          <div class="profile_info">
            <div class="profile_picture_holder">
              <img
                src="../static/images/-1__1.png"
                alt=""
                class="profile_picture"
              />
            </div>
            <div class="profile_data_holder">
              <h2 class="profile_data">Данные пользователя</h2>
              <a href="" class="profile_storage">Ваш склад</a>
            </div>
          </div>
          <div class="coin_counter">
              <img src="" alt="" class="coin_image" />
              <p class="coin_amount">123141241</p></span>
          </div>
        </div>
      </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
